{% extends 'student/base.html'%}

{% block body%}

<div class="container mt-5 bg-light">
    <h3 class="text-center">
        <b>Subject Info</b>
    </h3>
</div>


<div class="container bg-light">
        <p>

        <h2><b>
                <p style="color:navy">Faculty: Mr.Asif Ali </p>
            </b></h2>
        <h5><b>Subject Code: IT 508</b>
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#syllabusmodal">Syllabus</button> -->
        </h5>


        <h3>Every engineering student has to submit a project(also called minor project) in 3rd year and another one in 4th year (major project). They both can be  different projects or one can continue on the same minor project by taking due permission from the institute as major project. It can be done in teams and usually the institute allows maximum 5 people in a team. And also, minor and major are just names, they both need to be full fledged working models.
        </h3>

        </p>
    </div>


    <!-- syllabus  Modal -->
    <div class="modal fade" id="syllabusmodal" tabindex="-1" role="dialog" aria-labelledby="syllabusmodal"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="syllabusmodal"><b>Operating System Syllabus</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <b>
                        <p>Unit I<br>
                            Introduction to Operating Systems, Evaluation of OS, Types of operating Systems, system
                            protection, Operating
                            system services, Operating System structure, System Calls and System Boots, Operating System
                            design and
                            implementation, Spooling and Buffering.</p>
                        <p>Unit II<br>
                            Basic concepts of CPU scheduling, Scheduling criteria, Scheduling algorithms, algorithm
                            evaluation, multiple
                            processor scheduling. Process concept, operations on processes, threads, inter process
                            communication,
                            precedence graphs, critical section problem, semaphores, classical problems of
                            synchronization,</p>
                        <p>Unit III<br>
                            Deadlock problem, deadlock characterization, deadlock prevention, deadlock avoidance,
                            deadlock detection,
                            recovery from deadlock, Methods for deadlock handling. Concepts of memory management,
                            logical and
                            physical address space, swapping, Fixed and Dynamic Partitions, Best-Fit, First-Fit and
                            Worst Fit Allocation,
                            paging, segmentation, and paging combined with segmentation.</p>
                        <p>Unit IV<br>
                            Concepts of virtual memory, Cache Memory Organization, demand paging, page replacement
                            algorithms,
                            allocation of frames, thrashing, demand segmentation, Role of Operating System in Security,
                            Security Breaches,
                            System Protection, and Password Managment.</p>
                        <p>Unit V<br>
                            Disk scheduling, file concepts, File manager, File organization, access methods, allocation
                            methods, free space
                            managements, directory systems, file protection, file organization & access mechanism, file
                            sharing implement
                            issue, File Management in Linux, introduction to distributed systems.
                        </p>
                    </b>
                </div>
                <!-- <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <a class="nav-link text-danger" href="http://127.0.0.1:8000/"><B>Log out </B><span
                            class="sr-only">(current)</span></a> -->
                <!-- </div> -->
            </div>
        </div>
    </div>

    </div>

{% endblock%}